/.vscode
/CBIG_MFMem_rfMRI_nsolver_eul_sto.py
/__pycache__
/dask_logs
/dask-worker-space
/.ipynb_checkpoints
/temp
/data
/results
/.__pycache__
/.ipynb_checkpoints
*/estimate_logs/**
/code/model_fitting/dask-worker-space